/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  max-width: 1200px;
  margin: auto;
  background: var(--bg-color);
  color: var(--font-color);
}

/******************************************
/* LAYOUT
/*******************************************/

:root {
  --bg-color: linear-gradient(#FEEC77, #FFAB8F);
  --font-color: #1A2731;
  --box-color: #FFFDF0;
  --border-color: #FEBA6E;
  --hover-color: #8490D8;
}

input:checked,
input:checked + * {
  --bg-color: linear-gradient(#8490D8, #1A2731);
  --font-color: #FFFDF0;
  --box-color: #1A2731;
  --border-color: #8490D8;
  --hover-color: #FEEC77;
}

body { 
  margin: 0;
  padding: 0;
 }

input[type="checkbox"] {
  -webkit-appearance: none;
  position: absolute;
  z-index: 2;
  top: 10px;
  right: 60px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  cursor: url(pointer.png) 4 12, pointer;
  opacity: .5;
}

input:hover {
  background: var(--hover-color);
  opacity: 0;
}

article {
  position: absolute;
  height: 0px;
  padding: 0px;
  margin: 30px;
}

#harlequins {
  width: 200px;
  background: transparent;
  float: right;
}

h1 {
  text-align: center;
  font-size: 36px;
  margin-top: 20px;
  padding-bottom: 4px;
  border: solid 3px var(--border-color);
}

h2 {}

h3 {}

h4, h5 {
  margin: 0px;
  text-align: center;
}

h6 {}

h1, h2, h3, h4, h5, h6 {
    background: var(--box-color);
}

p {
  font-size: 18px;
  margin: 10px 0;
  line-height: 1.4;
  background: var(--box-color);
  border: solid 3px var(--border-color);
}

#name {
  text-align: center;
}

#starcontainer {
  background: var(--box-color);
  margin: -30px;
}

#starrynight {
  position: fixed;
  z-index: -999;
}


.showcase {
  max-width: 80%;
  margin: 10%;
}

[type=radio] {
  display: none;
}

#slider {
  height: 30vw;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  background: transparent;
  margin: 20px;
}

#slider label {
  margin: auto;
  width: 30%;
  height: 80%;
  border-radius: 4px;
  position: absolute;
  left: 0; right: 0;
  cursor: pointer;
  transition: transform 0.4s ease;
}

#s1:checked ~ #slide4, #s2:checked ~ #slide5,
#s3:checked ~ #slide1, #s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
  transform: translate3d(-30%,0,-200px);
}

#s1:checked ~ #slide5, #s2:checked ~ #slide1,
#s3:checked ~ #slide2, #s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
  transform: translate3d(-15%,0,-100px);
}

#s1:checked ~ #slide1, #s2:checked ~ #slide2,
#s3:checked ~ #slide3, #s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
  box-shadow: 0 13px 25px 0 rgba(0,0,0,.3), 0 11px 7px 0 rgba(0,0,0,.19);
  transform: translate3d(0,0,0);
}

#s1:checked ~ #slide2, #s2:checked ~ #slide3,
#s3:checked ~ #slide4, #s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
  transform: translate3d(15%,0,-100px);
}

#s1:checked ~ #slide3, #s2:checked ~ #slide4,
#s3:checked ~ #slide5, #s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
  transform: translate3d(30%,0,-200px);
}

label { background-image: radial-gradient(#FFFDF0, #FFF8CA, #FFFDF0, #FFF8CA);
 }

 nav {

 }

ul {
  width: 100%;
  list-style: none;
  display: flex;
  gap: 6px;
  height: 40px;
  background:lime;
}

li {
  text-align: center;
  color: #1A2731;
  font-size: 18px;
  padding: 3px;
  width: 110px;
  height: 30px;
  border-radius: 0px 0px 40px 40px;
}

.itty {
  flex: 1 2 20px;
  color: transparent;
  background: #ffab8f;
  outline: solid 3px #ff5452;
}

.bitty {
  flex: 1 3 20px;
  color: transparent;
  background: #fff8ca;
  outline: solid 3px #feec77;
}

.nitty {
  background: #ffab8f;
  outline: solid 3px #ff5452;
  flex: 1 1 40px;

}

.nitty:hover {
  color: #FFFDF0;
  background: #FF5452;
}

.gritty {
  background: #fff8ca;
  outline: solid 3px #feec77;
  flex: 1 1 40px;
}

.gritty:hover {
  color: #FFFDF0;
  background: #FEEC77;
}

.pickacard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: transparent;
}

.card {
  padding: 10px;
  margin: 10px;
  width: 270px;
  background: #49313A;
  border-radius: 15px;
}

.outline1 {
  outline: double #FEBA6E 5px;
  margin: 20px 20px 20px 20px;
  padding: -20px;
}

.outline2 {
  outline: dashed #FEBA6E 4px;
  padding: 2px;
  margin: 0px 0px 0px 0px;
  background: #49313A;
}

.outline3 {
    outline: double #FEBA6E 5px;
    margin: 13px;
}

.fortune {
  max-width: 180px;
    outline: dashed #FEBA6E 4px;
    margin: 0px 0px -4px 0px;
}

.tarot {
  text-align: center;
  margin: 30px;
  color: #FEBA6E;
  background: #49313A;
  border: none;
}

.gallery {
  padding: 20px;
  background: transparent;
}

.queries {
  margin-bottom: 20px;
  background: transparent;
}

.sfw {
  width: 80%;
  margin: 25px;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {

  header, ul {
    flex-direction: column;
    text-align: center;
  }

  nav li {
    margin: 10px 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  /* Styles for tablets */
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1em;
  }

}

@media screen and (min-width: 992px) {

  body {
    max-width: 1200px;
    margin: 0 auto; 
  }
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2em;
  } 
}

audio {
  margin: 0px 10px 5px 10px;
  width: 187px;
  background: #49313A;
}

#aboutsection {
  background: var(--box-color);
}

#about {
  
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
